.main-search-info{
    width: 70%;
    height: auto;
    min-height: 200px;
    margin:20px auto;

}
.main-left-info{
    width: 33%;
    height: 100%;
    margin-top: 20px;
    float: left;
    /*background: #55a532;*/

}
.main-right{
    width: 66%;
    height: 100%;
    margin-top: 20px;
    float: left;


}
.main-left-info>ul>li{
    width: 100%;
    line-height: 60px;
    font-size: 18px;
    padding-left: 30px;
    height: 60px;

}
.main-left-info>ul>li:hover{
    background: #d1dfdd54;
}