/*左边*/
.editor-left{
    width: 18%;
    height: 657px;
    background: #50524fe3;
    float: left;
}
.left-index{
    width: 100%;
    height: 100px;
    padding-top: 30px;
    padding-left: 60px;
}
.left-index a{
    float: left;
    width: 120px;
    height: 40px;
    border: 1px solid #e04841eb;
    border-radius: 20px;
    padding-left: 35px;
    padding-top: 6px;
    text-decoration: none;
    color: #e04841eb;
}
.left-index a:hover{
    text-decoration: none;
    color: #e04841eb;
}
.left-writer{
    width: 100%;
    height: 40px;
    color: #F2F2F2;
    font-size: 17px;
    padding-left: 10px;
    border-left: 3px solid #e04841eb;
    background: #c6d2c11c;
    line-height: 40px;
}
.left-setting{
    width: 100%;
    height: 30px;
    margin-top:470px;
}





/*中间*/
.editor-middle{
    width: 23%;
    height: 657px;
    float: left;
    background: #e7f5f3c2;
}
.new-article{
    width: 100%;
    height: 70px;
    background: #e7f3e2;
    border-bottom: 1px solid #c3d2bd ;
}
.new-article>a{
    text-decoration: none;
    float: left;
    font-size: 16px;
    width: 100px;
    color: #1f2327ba;
    height: 30px;
    margin-left:40px;
    margin-top: 20px;
}
.new-article>a:hover{
    text-decoration: none;
}
.editor-middle .new-article-list{
    width: 100%;
    height: 500px;
    background: #F2F2F2;
}
.list-article-zst{
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #c3d2bd;
    padding: 5px;
}
/*.new-article-list .list-article-zst>div{*/
/*    float: right;*/
/*    margin-right: 10px;*/
/*}*/

/*右边*/
.editor-right{
    width: 59%;
    float: left;
    height: 657px;
}
.editor-title{
    width: 100%;
    height: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
}
.editor-title .article-title{
    float: left;
    margin-left: 20px;
    color: #1b1e21;
}
.editor-title .article-title>input{
    width: 100%;
    height: 40px;
    border: #F2F2F2;
}
.editor-title .article-save{
    margin-top: 7px;
    line-height: 36px;
    border-radius: 20px;
    width: 70px;
    height: 36px;
    background: #16aacc73;
    float: right;
    margin-right: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #F2F2F2;
}
