<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/userSearch.css">
    <link rel="stylesheet" href="/css/iconfont.css">
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-1.9.1.js"></script>
    <script src="/js/jquery.validate.js"></script>
    <script src="/js/tabControl.js"></script>
    <script src="/js/userSearch.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<script>
    $(function () {
        var query = window.location.search.substring(1);
        var id = query.substring(3);
        $("#content").val(id)
        if(id==null||id==""){

        }else{
            $.ajax({
                url:"http://localhost:8088/queryInfo",
                data:{
                    name:id,
                },
                type:"post",
                dataType:"json",
                success:function (e) {
                    console.log(e)
                    $("#userInfo").css("display","block");
                    $("#login").css("display","none");
                    $("#reg").css("display","none");
                    $("#userimage").attr("src",e.user.userImage);
                    var lia=""
                    var lir=""
                    for(var i=0;i<e.article.length;i++){
                        lia+=" <li><div class='list-name'>" +
                            "<span style='cursor: pointer' onclick='seeUser("+e.article[i].userId+")'><img src='../image/QQ图片20191119175113.jpg' alt='' style='width: 25px;height: 25px;border-radius: 50%;'>" +
                            " &nbsp;&nbsp;"+e.article[i].nickname+"</span>" +
                            " <span style='float: right;padding-right: 10px;color: #98bfc6'>2020-04-16</span>" +
                            "                        </div>" +
                            "                        <div class='list-content' onclick='seeArticle("+e.article[i].aid+")'>"+e.article[i].title+"</div>" +
                            "                    <div class='list-end'><span>查看</span>&nbsp;<span>"+e.article[i].viewNumber+"</span>&nbsp;&nbsp;<span>评论</span>&nbsp;<span>"+e.article[i].commentNum+"</span></div>" +
                            "                    </li>"

                    }
                    $("#article").append(lia)
                    for(var i=0;i<e.users.length;i++){
                        lir+="<div class='right-user-list'>" +
                            "            <div class='user-left'>" +
                            "                <div class='left-image'><img src='../image/QQ图片20191119175113.jpg' alt='' style='width: 60px;height: 60px;border-radius: 50%'></div>" +
                            "                <div class='left-content'>" +
                            "                    <div style='font-size: 16px;font-weight: bold'>收纳空白。</div>" +
                            "                    <div style='margin-top:5px;font-size: 13px;'>" +
                            "                        <span>关注&nbsp;<span>100</span> &nbsp;|</span>" +
                            "                        <span>粉丝&nbsp;<span>100</span> &nbsp;|</span>" +
                            "                        <span>文章&nbsp;<span>100</span> &nbsp;</span>" +
                            "                    </div>" +
                            "                </div>" +
                            "            </div>" +
                            "            <div class='user-right'>" +
                            "                <div class='user-concern' id='concern' onclick='concern()'>关注</div>" +
                            "            </div> " +
                            "        </div>"

                    }
                    $("#users").append(lir)


                }
            })
        }


        var links=document.querySelectorAll(".search")
        for (let i = 0; i < links.length; i++) {
            links[i].onclick = function () {

                for (let j = 0; j < links.length; j++) {
                    links[j].style.color = "#a9b4c0c9"

                }
                links[i].style.color = "#212529"

            }
        }
    })
    function concern(){

        if($("#concern").html()=="关注"){
            $("#concern").html("已关注");
            $("#concern").css("background","#a0a19f40");
            $("#concern").css("color","#595050");
        }else if($("#concern").html()=="已关注"){
            $("#concern").html("关注");
            $("#concern").css("background","#5cb31af7");
            $("#concern").css("color","#FFFFFF");
        }



    }
    //关注页面
    function guanzhu() {
        var id=$("#id").val()
        console.log(id)
        if(id==""){
            alert("请登录")
            return false;
        }else{
            window.location.href="userViewLike"
        }
    }
    //消息页面
    function xiaoxi() {
        var id=$("#id").val()
        console.log(id)
        if(id==""){
            alert("请登录")
            return false;
        }else{
            window.location.href="userViewInfo"
        }
    }
    //编写文章
    function suibi() {
        var id=$("#id").val()
        console.log(id)
        if(id==""){
            alert("请登录")
            return false;
        }else{
            window.location.href="userEditor"
        }

    }
    //退出登录
    function exit(){
        $.ajax({
            url:"http://localhost:8088/userExit",
            data:{

            },
            type:"post",
            dataType:"json",
            success:function (e) {
                if(e.code==200){
                    window.location.href="userLogin"
                }
            }
        })
    }

    //搜索
    function search() {
        var content=$("#search").val()
        if(content==""){

        }else{


        }
    }

</script>
<body>

//顶部导航栏
<header class="head-title">
    <div class="title-log">
        <span>趣 读</span>
    </div>
    <div class="title-middle">
        <div class="middle-one">
            <a href="index" class="tab1 cur">首页</a>
            <a href="javascript:;" onclick="guanzhu()" class="tab1">关注</a>
            <a href="javascript:;" onclick="xiaoxi()" class="tab1">消息</a>
        </div>
        <div class="middle-search">
            <div class="search-form">
                    <input type="text" id="content" class="search" name="search" placeholder="搜索">
                    <a href="javascript:;" onclick="secarch()">
                        <span class="iconfont">&#xe613;</span>
                    </a>
            </div>
        </div>
    </div>
    <div class="title-login">
        <div class="login-one" id="login">
            <a href="/userLogin" >登陆</a>
        </div>
        <div class="login-one" id="reg">
            <a href="/register">注册</a>
        </div>
        <div  id="userInfo" class="login-one-info" style="display: none">
            <div class="user-photo">
                <img id="userimage" src="/image/photo-default.jpg" alt="">
                <img src="/image/向下.png" alt="">
            </div>
        </div>
        <div class="login-write">
            <a href="javascript:;" onclick="suibi()">随 笔</a>
        </div>
    </div>
</header>
<div style="clear: both;height: 30px"></div>
<div>
    <div class="hidden-userInfo-zst">
        <a class="dropdown-zst" href="userbolg">
            <div class="iconfont-userInfo">&#xe60c;</div>
            我的主页
        </a>
        <a class="dropdown-zst" href="userPersonInfo">
            <div class="iconfont-userInfo">&#xe665;</div>个人信息</a>
        <a class="dropdown-zst" href="javascript:;" onclick="exit()">
            <div class="iconfont-userInfo">&#xe608;</div>退出登陆</a>
    </div>
</div>
<div class="main-search">
<!--    菜单-->
    <div class="main-left">
        <ul>
            <li class="article-title" style="background: #d1dfdd54;">文章</li>
            <li class="article-title" >用户</li>
        </ul>
    </div>
<!--    选项卡-->
    <div class="main-right">
        <div class="article-info">
            <div class="right-article-title">
                <span class="search" attr="0">综合排序 ·</span>
                <span class="search" attr="1" style="color: #a9b4c0c9">最新发布 ·</span>
                <span class="search" attr="2" style="color: #a9b4c0c9">热门文章</span>
                <span style="float: right;margin-right: 5px"><i>100</i>&nbsp;<span>个结果</span></span>
            </div>
            <div class="right-article-list">
                <ul id="article">
                  <!--  <li>
                        <div class="list-name">
                            <span style="cursor: pointer" onclick="seeUser(id)"><img src="../image/QQ图片20191119175113.jpg" alt="" style="width: 25px;height: 25px;border-radius: 50%;">
                            &nbsp;&nbsp;收纳空白。</span>
                            <span style="float: right;padding-right: 10px;color: #98bfc6">2020-04-16</span>
                        </div>
                        <div class="list-content" onclick="seeArticle(aid)">向热爱生活一样热爱你。。。。</div>
                        <div class="list-end"><span>查看</span>&nbsp;<span>100</span>&nbsp;&nbsp;<span>评论</span>&nbsp;<span>20</span></div>
                    </li>-->

                </ul>
            </div>
        </div>
        <div class="article-info" style="display: none" id="users">
            <div class="right-article-title">
                <span class="search" attr="0">综合排序&nbsp; |</span>
                <span style="float: right;margin-right: 5px"><i>100</i>&nbsp;<span>个结果</span></span>
            </div>



        </div>
    </div>

</div>
<!--结尾-->
<div style="clear: both"></div>
<div class="end-zst">
    <div class="info-zst-team">
        <ul>
            <li>关于我们&nbsp;&nbsp;|</li>
            <li>联系我们&nbsp;&nbsp;|</li>
            <li>加入我们&nbsp;&nbsp;|</li>
            <li>门户网站&nbsp;&nbsp;|</li>
            <li>关于帮助&nbsp;&nbsp;|</li>
            <li>进入百度&nbsp;&nbsp;|</li>
            <li>合作伙伴</li>
        </ul>
    </div>
    <div class="info-zst-intro">
        <div> ©2019-2020 山西农业大学文理学院信息与计算科学专业 / 趣读 / 晋ICP备20160908508号-1126 /</div>
        <div>联系电话：15735342829 | WeChat:zstzs971126 像热爱生活一样热爱你</div>
        <div>感谢大学四年老师们对我的教诲，感谢同学们对我的关怀。</div>
        <div>起风了，唯有努力生存！</div>
    </div>
</div>

</body>
</html>